<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 70%;">
        <form class="form-inline my-2 my-lg-0" action="/admin/search" method="post">
            <input class="form-control mr-sm-2" type="search" placeholder="Search By Name" aria-label="Search" name="adminSearch">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">STT</th>
                <th scope="col">username</th>
                <th scope="col">Role</th>
                <th scope="col">User carts</th>
            </tr>
        </thead>
        <tbody>
            

            <% if (typeof user !=='undefined' ) {%>
                <tr>
                    <th scope="row">1</th>
                    <td><%= user.username %></td>
                    <td><%= user.role %></td>
                    <td><a href="/admin/user/id/<%= user.id %>">Carts</a></td>
                </tr>
            <% } %>

            <% if (typeof users !== 'undefined') {%>
            <% let count = 1 %>
            <% users.forEach(user =>{ %>
                <tr>
                    <th scope="row"><%= count %></th>
                    <td> <%= user.username %></td>
                    <td> 
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            <%= user.role %> 
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/admin/user/role/normalUser/?id=<%= user.id %>">Normal user</a>
                            <a class="dropdown-item" href="/admin/user/role/vip1/?id=<%= user.id %>">Vip 1</a>
                            <a class="dropdown-item" href="/admin/user/role/vip2/?id=<%= user.id %>">Vip 2</a>
                            <a class="dropdown-item" href="/admin/user/role/vip3/?id=<%= user.id %>">Vip 3</a>
                        </div>
                    </div>
                    </td>
                    <td><a href="/admin/user/id/<%= user.id %>">Carts</a></td>
                </tr>
                <% count++ %>
            <% }) %>
            <% } %>
        </tbody>
    </table>
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>
</html>