<!DOCTYPE html>
<html lang="en" >
<head>

  <meta charset="UTF-8">
  <base href="/">
  <title>CodePen - Pure CSS Table Highlight (vertical &amp; horizontal)</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" href="css/bootstrap-icons.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link href="css/templatemo-pod-talk.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<style>
    html,
body {
  height: 100%;
}
body {
  margin: 0;
  /* background: linear-gradient(45deg, #60bedd, #60bedd); */
  background-color: white;
  font-family: sans-serif;
  font-weight: 100;
  background: image("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSS69L2LQsax91B1GvtquTUuayMK8FWnvO5w&usqp=CAU");
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
table {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
}
th {
  text-align: left;
}
thead th {
  background-color: black;
  color: aliceblue;
}

tbody td {
  position: relative;
  background-color: white;
}

#search {
    border: 1px solid black
}

.navbar-expand-lg .navbar-nav .nav-link, .admin-dropdown, #cart-icon.bi.bi-cart4 {
    color: black!important;
}

</style>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container" style="margin-left: -10px; margin-top: 55px;">
            <a class="navbar-brand me-lg-5 me-0" href="/home">
                <img src="images/logo.png" class="logo-image img-fluid" alt="templatemo pod talk" style="width: 160px; margin-left: -35px;">
            </a>
            <form action="" method="get" class="custom-form search-form flex-fill me-3" role="search">
                <div class="input-group input-group-lg">
                    <input name="search" type="search" class="form-control" id="search" placeholder="Search"
                        aria-label="Search" style="width: 50px;">

                    <button type="submit" class="form-control" id="submit">
                        <i class="bi-search"></i>
                    </button>
                </div>
            </form>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav" style="margin-right: 70px;">
                <ul class="navbar-nav ms-lg-auto">
                    <% if (!username) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/signin">Sign In</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/signup">Sign Up</a>
                        </li>
                            <% } %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                                <% if (username != '') { %>
                                    <%= username %>
                                <% } else { %>
                                    <%= 'username' %>
                                    <% } %>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-light admin-dropdown" aria-labelledby="navbarLightDropdownMenuLink">
                            <li><a class="dropdown-item" href="/auth/logout">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
                <div>
                    <a class="nav-link" href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4" id="cart-icon" viewBox="0 0 16 16" style="color: white; height: 25px; width: 25px" onmouseover="name()" onmouseout="name1()">
                        <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                    </svg>
                    
                    
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <br>
    <div style="margin-top: 200px;">
            <h2 style="text-align: center; color: rgb(39, 37, 37);">List Of Products</h2>
                <button class="btn btn-outline-dark" style="margin-left: 239px; margin-bottom: 10px;">User Management</button>
                <a href="" class="btn btn-outline-dark" data-toggle="modal" data-target="#addProductModal" style="margin-left: 489px; margin-bottom: 10px;">Add New Product</a>
            <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content" style="width: 560px; margin: auto;">
                    <div class="modal-header">
                      <h5 class="modal-title" id="addProductModalLabel">Add New Product</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <!-- Add your form fields for adding a new product here -->
                      <!-- For example, you can add input fields for product name, price, etc. -->
                      <form action="/admin/product/add" method="post" style="margin: auto; width: 70%;">
                        <div class="control-group">
                            <input type="text" class="form-control" id="productName" name="productName" placeholder="Product Name"/>
                        </div>
                        <br>
                        <div class="control-group">
                            <input type="number" class="form-control" id="price" name="price" placeholder="Price" min="0"/>
                        </div>
                        <br>
                        <div class="control-group">
                            <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Quantity" min="0"/>
                        </div>
                        <br>
                        <div class="control-group">
                            <input type="number" class="form-control" id="discount" name="discount" placeholder="Discount"/>
                        </div>
                        <br>
                        <td>
                            <h5>Category:</h5>
                            <input type="checkbox" id="clothes" name="category" value="clothes">
                            <label for="clothes">Clothes</label>
                            <input type="checkbox" id="food" name="category" value="food">
                            <label for="food">Food</label>
                            <input type="checkbox" id="household goods" name="category" value="household goods">
                            <label for="household goods">Household goods</label>
                        </td>
                        <br>
                        <div>
                            <td>
                                <h5>Status:</h5>
                                <input type="checkbox" id="discount" name="status" value="discount">
                                <label for="discount">Discount</label>
                                <input type="checkbox" id="trending" name="status" value="trending">
                                <label for="trending">Trending</label>
                            
                            </td>
                        </div>
                        <br>
                        <div class="control-group">
                            <input type="text" class="form-control" id="image" name="image" placeholder="Image" hidden/>
                            <div id="imgDiv"></div>
                            <input type="file" id="fileButton" onchange="uploadImage(event)">
                        </div>
                        <br>
                        <button type="submit" id="add" class="btn btn-primary"> Thêm sản phẩm</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </form>
                    </div>
                    
                  </div>
                </div>
            </div>
              
    <table style="text-align: center; margin:auto">
        <thead>
            <tr>
                <th style="text-align: center;">Image</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Category</th>
                <th>Status</th>
                <th colspan="2" style="text-align: center;">Action</th>
            </tr>
        </thead>
        <tbody>
            <% productList.forEach(product=>{ %>
                <tr>
                    <td><img src="<%= product.image %>" alt="" style="width: 120px; height: 120px;"></td>
                    <td><%= product.name %></td>
                    <td><%= product.price %></td>
                    <td><%= product.quantity %></td>
                    <td><%= product.discount %></td>
                    <td>
                        <%product.category.forEach(cate=>{%>
                            <%= cate.name%>
                            <br>
                        <%})%>
                    </td>
                    <td>
                        <% product.status.forEach(st=> { %>
                            <%= st.name %>
                            <br>
                        <% }) %>
                    </td>
                    
                    <div>
                        <td>
                            <a href="/admin/product/update/<%=product._id%>" data-toggle="modal" data-target="#editProductModal-<%= product._id %>" style="color: black;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </a>
                        </td>
                        <td>
                            <a href="/admin/product/delete/<%=product._id%>" onclick="event.preventDefault(); confirmDelete('/admin/product/delete/<%= product._id.toString() %>');" style="color: black;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                </svg>
                            </a>
                        </td>
                    </div>
                </tr>
                <div class="modal fade" id="editProductModal-<%= product._id %>" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="width: 560px; margin: auto;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editProductModalLabel">Edit a products</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Add your form fields for adding a new product here -->
                            <!-- For example, you can add input fields for product name, price, etc. -->
                            
                            <form action="/admin/product/update/<%= product._id%>" method="post" enctype="multipart/form-data">
                                <div class="">
                                    <div class="form-group">
                                        Product name:
                                        <input type="text" name="productName" class="form-control" value="<%=product.name%>">
                                    </div>
                                    <div class="form-group">
                                        Price:
                                        <input type="number" name="price" class="form-control" value="<%=product.price%>">
                                    </div>
                                    <div class="form-group">
                                        Quantity:
                                        <input type="number" name="quantity" class="form-control" value="<%=product.quantity%>">
                                    </div>
                                    <div class="form-group">
                                        Discount:
                                        <input type="number" name="discount"  class="form-control" value="<%=product.discount%>">
                                    </div>
                                    <div class="form-group">
    
                                        Image:
                                            <img src="<%=product.image%>" alt="failed to load img" width="200px" height="200px">
                                            <br>
                                            <!-- <input id="newImage" type="file" name="image" accept="image/*" class="form-control"> -->
                                            <input type="text" class="form-control" id="image" name="image" placeholder="Image" hidden/>
                                            <div id="imgDiv"></div>
                                                <input type="file" id="fileButton" onchange="uploadImage(event)">
                                            
                                </div>
                            <button type="submit" class="btn btn-success">Update</button>
                        </form>
                        
                        </div>
                        
                        </div>
                    </div>
                </div>
            <% }) %>            
        </tbody>
	</table>
    

<script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>

    <script>
        function confirmDelete(deleteUrl) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'This action cannot be undone.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = deleteUrl;
                }
            });
        }
    </script>

    <script>
        $(document).ready(function() {
          $('#addProductModal').on('shown.bs.modal', function() {
            // Focus on the first input field when the modal is shown
            $(this).find('input:first').focus();
          });
        });
    </script>

<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
<script>
    // Initialize Firebase
    const firebaseConfig = {
        apiKey: "AIzaSyDxG2vMNkqz1sf4UGAaMzcaq3lVdAN5C8M",
        authDomain: "users-8f542.firebaseapp.com",
        projectId: "users-8f542",
        storageBucket: "users-8f542.appspot.com",
        messagingSenderId: "351740883393",
        appId: "1:351740883393:web:b9c6a3bba9f040cf3ebf40",
        measurementId: "G-KN5Q9HHHL7"
    };
    firebase.initializeApp(firebaseConfig);
</script>

<script type="text/javascript">
    function uploadImage(e) {
        let fbBucketName = 'images';
        let uploader = document.getElementById('uploader');
        let file = e.target.files[0];
        let storageRef = firebase.storage().ref(`${fbBucketName}/${file.name}`);
        let uploadTask = storageRef.put(file);
        uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED,
            function (snapshot) {
              console.log(snapshot);
                uploader.value = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                switch (snapshot.state) {
                    case firebase.storage.TaskState.PAUSED:
                        break;
                    case firebase.storage.TaskState.RUNNING:
                        break;
                }
            }, function (error) {
                switch (error.code) {
                    case 'storage/unauthorized':
                        break;
                    case 'storage/canceled':
                        break;
                    case 'storage/unknown':
                        break;
                }
            }, async function () {
                let downloadURL = await uploadTask.snapshot.downloadURL;
                console.log(downloadURL);
                document.getElementById('imgDiv').innerHTML = `<img height="200px", width="200px" src="${downloadURL}" alt="">`
                document.getElementById('image').value = downloadURL;
            });
    }
</script>
</body>
</html>